body {
    background-color: #b84e02;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 100vh;
}

#search-form {
    display: flex;
    text-align: center;
    padding-top: 50%;
    position: relative;
}

.result {
    margin-top: 25%;
    padding-left: 20%;
    height: 25%;
}

.result > textarea {
    height: 100%;
    resize: none;
    border: 0.5px black solid;
}